*{
    border-style: none;
    margin: 0%;
}
.middle{
    margin-top: 40px;
}
#n{
    position: fixed;
    width: 100%;
}
.head{
    height: 50px;
    
    font-weight: bolder;
    font-size:40px;
    font-style: italic;
    text-align:center;
    background: linear-gradient(90deg, #eb2626,#f8f824, #ff7bf8, #879cf1, #f73dcb,#f74c4c );
    color:whitesmoke;
    border: 8px double limegreen;
}
#uper{
    height: 400px;

    background-size:cover;
    background-image: url(shelley-pauls-I58f47LRQYM-unsplash.jpg);
    border: 8px double limegreen;
}
.u1{
    height: 450px;
    width: 50%;
    border-radius: calc(20%);
    background-size: cover;
    background-image:url(fruit.jpg);
    margin-left: 24%;
    border-left: 8px double limegreen;
    border-right: 8px double limegreen;
}
.u1:hover{
    background-image: url(shelley-pauls-I58f47LRQYM-unsplash.jpg);
}
ul li{
      list-style: none;
      font-weight:900;
      font-size: 2rem;
}
.all1{
    text-decoration: none;
}
ul{
    position: relative;
    margin-bottom:100px;
    margin-left: 200px;
}
.lower{
    height: 70px;
    width: 100%;
    background-image:url(car.jpg);
    color:white;
    position:absolute;
}
.middle6{
     display:flex;
}
.middle55{
    width:100%;
}
.middle5{
    width:100%;
}
#items{
    display:flex;
}
.S1{
    height:200px;
    width:40%;
}
img{
    height:100px;
    width:40px;
}
.classification{
    display: flex;
}
.nutrition{
    display: flex;
}
.whatis{
    margin-left: 200px;
}
.allergy{
    display: flex;
}
.contactus{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
.fast{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
.eatfruits{
    margin-left: 50px;
}
.classification{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
.alle{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.highb{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.skini{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.section_w940{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}