*{
    box-sizing: border-box;
    margin: 0%;
}
.home{
    background-color: rgba(2, 2, 2, 0.493);
    height: 80px;
    position: sticky;
    display: flex;
}
.v{
    width: 50%;
}
.home1{
    width:10%;
    font-size: larger;
    margin-top: 19px;
    color: white;
    text-decoration: none;
}